@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    border: 1px solid red;
} */

:root {
    --background: #feffff;
    --light-color: #feffff;
    --dark-color: #343341;
    --read: rgb(240, 255, 240);
    --unread: #fcd9d3;
    --dark-filter: invert(19%) sepia(16%) saturate(559%) hue-rotate(205deg) brightness(99%) contrast(96%);
    --accent-color: #f34c2f;
    --accent-filter: filter: invert(100%) sepia(1%) saturate(6905%) hue-rotate(114deg) brightness(99%) contrast(108%);
    --main-font: 'Poppins',sans-serif;
    --inset-border: inset 0 0 0 0.3em var(--accent-color);
    --transition-speed: 0.5s;
    --green-gradient: linear-gradient(to right, #e0f2f1, #26a69a);
    --yellow-gradient: linear-gradient(to right, #fffde7, #ffeb3b); 
    --grey-gradient: linear-gradient(to right, #eceff1, #607d8b); 
    --radius: 0.5em
}

body,
html {
    font-family: var(--main-font);
    padding: 0px;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
}

/* CONTAINER */

.container {
    display: grid;
    text-align: center;
    padding: 16px;
    gap: 16px;
    height: 100vh;
    grid-template-rows: 15vh 1fr auto;
    grid-template-columns: 1fr;
    justify-content: space-between;
}

img {
    vertical-align: middle;
}

/* HEADER FOOTER */

.header, 
.footer {
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 0px;
    width: 100%; 
    box-sizing: border-box; /
}

.footer {
    grid-row: 3;
}

.header h1 {
    color: var(--dark-color);
    margin: 0;
    font-size: 1.8em;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

/* CARDS */

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    margin-top: 30px;

} 

.card-grid div {
    border-radius: var(--radius);;
}

.in-progress {
    background: var(--yellow-gradient);
}

.read {
    background: var(--green-gradient);
}

.not-read {
    background: var(--grey-gradient);
}

.card {
    border: 1px solid #ddd;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
}

.card-content {
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 20px; 
    align-items: center; 
}

.labels p, .values p, .values h3 {
    margin: 0; 
    padding: 4px 0; 
}

.labels p {
    font-weight: bold;
}

.deleteBtn {
    margin-top: 10px;
    width: 30%;
    border: 0.1em solid var(--dark-color);
    font-family: var(--main-font);
    background: var(--background);
    border-radius: var(--radius);
}



/* BUTTON */

#addBookBtn {
    border: none;
    padding: 10px;
    color: var(--dark-color);
    border-radius: var(--radius);
    font-size: 1em;
    background: rgba(0, 0, 0,0.15);
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    transform: 0.3s ease;
}

.button-container{
    grid-row: 2;
}


/* FORM */


.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-rows {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(4, 40px);
    justify-items: left;
    margin: 20px;
}


.form-rows input {
    font-family: var(--main-font);
    border-width: 0.08em;
    border-radius: var(--radius);
    height: 1.5em;
    width: 90%;
}

.progress {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
}

.progress label, .progress input {
    vertical-align: middle; 
}

.progress label {
    margin-left: 5px;
    margin-right: 5px; 
}

form button {
    width: 30%;
    border: 0.1em solid var(--dark-color);
    font-family: var(--main-font);
    background: var(--background);
    border-radius: var(--radius);
    padding: 0.5em 1em;
    margin: 0 1em 1em 0;
} 

